<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock head%}
     <link rel="stylesheet" href="{{ url_for('static', path='base.css') }}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>

    <!-- Header -->
    <header>
        <div class="logo">Магазин</div>
        <div class="user-avatar">A</div>
    </header>

    <!-- Строка с кнопками -->
    <div class="nav-bar">
        <a href="#">Каталог</a>
        <a href="#">Сравнение</a>
        <a href="#">Корзина</a>
    </div>

    <!-- Основной контент -->

    {% block content %}

    {% endblock content %}

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Интернет-магазин. Все права защищены.</p>
    </footer>

</body>
</html>