{% extends "base.html" %}


{% block head%}
<script src="{{ url_for('static', path='items.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', path='my.css') }}">
{% endblock head %}


{% block title%}
SoundSphereCart
{% endblock title %}


{% block content %}

<div class="cells-container" style="padding: 1% 15% 3% 15%">

    <div class="cell" style='background-color: #d6d6d6;  width: 100%;height: 7vh; border-radius: 12px; transition: 0.3s;'
        onmouseover="this.style.backgroundColor='#868686';" 
        onmouseout="this.style.backgroundColor='#d6d6d6';"
        id='cart-cell-1'
        >
        <div class="row">

            <div class="col-md-1">
                <div class="item-is-active" style="padding: 20px 10px 10px 40px;">
                    <input type="checkbox" class="item-checkbox" id="{{ item_id_1 }}" style="width: 20px; height: 20px; border-radius: 50%; background-color: black;">
                </div>
            </div>


            <div class="col-md-1">
                <div class="item-img"><a href='#'>
                    <img src="{{ item_img_1 }}" style="width: 75%; height: 75%; float: left;"></a>
                </div>
            </div>


            <div class="col-md-1">
                <div class="item-name">
                    <h3 id="item_cell_1" style="text-align: left;">{{ item_brand_1 }}</h3>
                </div>
            </div>


            <div class="col-md-2">
                <div class="item-name">
                    <h3 id="item_cell_1" class='item_name' style="text-align: left;">{{ item_name_1 }}</h3>
                </div>
            </div>


            <div class="col-md-2">
                <div class="item-price">
                    <h3 class="item_price_1">{{ item_price_1 }}&#8381</h3>
                </div>
            </div>


            <div class="col-md-3" style='padding: 7px 0 0 0'>
                <div class="item-quanity" style='width: 35%; height: 5vh; border-radius: 5px; padding: 0px 7px 0px 7px;'>

                    <button type="button" onclick="cart_encrease_item(1)" class="btn btn-primary" 
                    style='float: left; background-color: black; color: #ffffff; position: fixed; border-color: black;'>+</button>
                    <button type="button" onclick="cart_decrease_item(1)" class="btn btn-primary" 
                    style='float: right; background-color: black; color: #ffffff; border-color: black;'>-</button>
                    
                    <h4 style='font-size: 30px; width: 20%; padding: 0px 0px 0px 40px' class='item_quantity_1'>
                        1
                    </h4>
                    
                </div>
            </div>


            <div class="col-md-2">
                <div class="items-fullprice">
                    <h3 class='item_fullprice_1'>{{ item_price_1 }}</h3>
                </div>
            </div>
            
        </div>
    </div>
    <br>

    <div class="cell" style='background-color: #ffffff;  width: 100%;height: 7vh; border-radius: 12px; transition: 0.3s;'
        onmouseover="this.style.backgroundColor='#b4b4b4';" 
        onmouseout="this.style.backgroundColor='#fff';"
        id='cart-cell-2'
        >
        <div class="row">

            <div class="col-md-1">
                <div class="item-is-active">
                    <input type="checkbox" class="item-checkbox" id="{{ item_id_2 }}">
                </div>
            </div>


            <div class="col-md-1">
                <div class="item-img">
                    <img src="{{ item_img_2 }}" style="width: 65%; height: 65%">
                </div>
            </div>


            <div class="col-md-3">
                <div class="item-name">
                    <h3 id="item_cell_2">{{ item_name_2 }}</h3>
                </div>
            </div>


            <div class="col-md-2">
                <div class="item-price">
                    <h2>{{ item_price_2 }}</h2>
                </div>
            </div>


            <div class="col-md-3">
                <div class="item-quanity">
                    <button type="button" class="btn btn-primary">+</button>
                    {{ item_quantity_2 }}
                    <button type="button" class="btn btn-primary">-</button>
                </div>
            </div>


            <div class="col-md-2">
                <div class="items-fullprice">
                    <h2>{{ item_fullprice_2 }}</h2>
                </div>
            </div>
            
        </div>
    </div>
    <br>

    <div class="cell" style='background-color: #ffffff;  width: 100%;height: 7vh; border-radius: 12px; transition: 0.3s;'   
        onmouseover="this.style.backgroundColor='#b4b4b4';" 
        onmouseout="this.style.backgroundColor='#fff';"
        id='cart-cell-3'
        >
        <div class="row">

            <div class="col-md-1">
                <div class="item-is-active">
                    <input type="checkbox" class="item-checkbox" id="{{ item_id_3 }}">
                </div>
            </div>


            <div class="col-md-1">
                <div class="item-img">
                    <img src="{{ item_img_3 }}" style="width: 65%; height: 65%">
                </div>
            </div>


            <div class="col-md-3">
                <div class="item-name">
                    <h3 id="item_cell_3">{{ item_name_3 }}</h3>
                </div>
            </div>


            <div class="col-md-2">
                <div class="item-price">
                    <h2>{{ item_price_3 }}</h2>
                </div>
            </div>


            <div class="col-md-3">
                <div class="item-quanity">
                    <button type="button" class="btn btn-primary">+</button>
                    {{ item_quantity_3 }}
                    <button type="button" class="btn btn-primary">-</button>
                </div>
            </div>


            <div class="col-md-2">
                <div class="items-fullprice">
                    <h2>{{ item_fullprice_3 }}</h2>
                </div>
            </div>
            
        </div>
    </div>
    <br>


</div>

{% endblock content %}