li:hover{
    background-color: #999999;
    color:#e2dada;
    transition-duration: 0.6s;
}

.item-card{
    background-color: #b4b4b4;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

img:hover{
    width: 90%;
    height: 90%;
    transition: 1s;
}
